<!DOCTYPE html>
<html>
  <head>
    <title> Главная страница </title>
      
  <body>
     
<header>
   <div class="content">
    {% block content %}
    <form method="POST">

          <input type="email" id="email" name="email" placeholder="email" value="email" required>
  
          <input type="number" id="phone" name="phone" placeholder="phone"  value="phone" required>
  
          <input type="text"  id="password" name="password" placeholder='password' value="password" required>
  
        <button type="submit">Сохранить</button>
      </form>
    {% endblock %}  
   </div>
 
   
 
 
  </body>
  
</html>
</header>